{{ form_start(form, {
    action: devis.id ? path('app_devis_edit', { id: devis.id }) : path('app_devis_new'),
    method: 'POST',
    attr: {
        'data-numeric': true,
        'data-controller': 'form',
        'data-form-target': 'form',
        'data-action': 'submit->form#submit'
    }
}) }}

<div data-controller="devis">
    <div class="form-group row g-3">
        <div class="col-6 mt-3">
            <label class="form-label">Numéro</label>
            <input type="text" class="form-control form-control-sm" value="DEV-YYYY-0000" disabled>
        </div>
        <div class="col-6 mt-3">{{ form_row(form.date) }}</div>

        <div class="row" data-controller="representant">
            <div class="col-6 mt-3">{{ form_row(form.client) }}</div>
            <div class="col-6 mt-3">{{ form_row(form.contactClient) }}</div>
        </div>

        {# Prototype de ligne #}
        {% set lignePrototype %}
            <tr data-devis-target="ligne">
                <td>{{ form_widget(form.lignes.vars.prototype.designation) }}</td>
                <td>{{ form_widget(form.lignes.vars.prototype.quantite, {'attr': {'data-action': 'input->devis#updateLine'}}) }}</td>
                <td>{{ form_widget(form.lignes.vars.prototype.uom) }}</td>
                <td>{{ form_widget(form.lignes.vars.prototype.prixUnitaire, {'attr': {'data-action': 'input->devis#updateLine'}}) }}</td>
                <td>
                    {{ form_widget(form.lignes.vars.prototype.montant, {
                        'attr': {'data-devis-target': 'montant', 'class':'d-none'}
                    }) }}
                    <input type="text" class="form-control form-control-sm text-end" readonly data-devis-target="montantDisplay">
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-action="click->collection#remove">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        {% endset %}

        <div class="col-12 mt-5">
            <label class="form-label">Lignes de devis</label>
            <div class="table-responsive" data-controller="collection" data-collection-target="container" data-prototype="{{ lignePrototype|e('html_attr') }}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center">Désignation</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-center">U.Mesure</th>
                        <th class="text-center">P. unitaire</th>
                        <th class="text-center">Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody data-collection-target="container" data-devis-target="lignes">
                    {% for ligneForm in form.lignes %}
                        <tr data-devis-target="ligne">
                            <td>{{ form_widget(ligneForm.designation) }}</td>
                            <td>{{ form_widget(ligneForm.quantite, {'attr': {'data-action': 'input->devis#updateLine'}}) }}</td>
                            <td>{{ form_widget(ligneForm.uom) }}</td>
                            <td>{{ form_widget(ligneForm.prixUnitaire, {'attr': {'data-action': 'input->devis#updateLine'}}) }}</td>
                            <td>
                                {{ form_widget(ligneForm.montant, {
                                    'attr': {'data-devis-target': 'montant', 'class':'d-none'}
                                }) }}
                                <input type="text" class="form-control form-control-sm text-end" readonly data-devis-target="montantDisplay">
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-danger" data-action="click->collection#remove">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary btn-sm mt-2" data-action="click->collection#add">
                    <i class="bi bi-plus me-1"></i> Ajouter une ligne
                </button>
            </div>
        </div>

        {# Section Totaux #}
        <div class="mt-5 bloc-total">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <strong>{{ form_label(form.totalHT)}} :</strong>
                <span class="d-flex">
                    {{ form_widget(form.totalHT, {'attr': {'data-devis-target': 'totalHT', 'class':'d-none'}}) }}
                    <input type="text" class="form-control form-control-sm text-end" readonly>
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <strong>{{ form_label(form.remise) }} :</strong>
                <span>
                    {{ form_widget(form.remise, {'attr': {'data-devis-target': 'remise','data-action':'input->devis#updateTotals','class':'form-control form-control-sm text-end'}}) }}
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <strong>{{ form_label(form.tauxTVA)}} :</strong>
                <span>
                    {{ form_widget(form.tauxTVA, {'attr':{'data-devis-target': 'tauxTVA','data-action':'input->devis#updateTotals','class':'form-control form-control-sm text-end'}}) }}
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <strong>{{ form_label(form.totalTVA) }} :</strong>
                <span class="d-flex">
                    {{ form_widget(form.totalTVA, {'attr': {'data-devis-target': 'totalTVA','class':'d-none'}}) }}
                    <input type="text" class="form-control form-control-sm text-end" readonly>
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <strong>{{ form_label(form.totalTTC)}} :</strong>
                <span class="d-flex">
                    {{ form_widget(form.totalTTC, {'attr': {'data-devis-target': 'totalTTC','class':'d-none'}}) }}
                    <input type="text" class="form-control form-control-sm text-end fw-bold text-primary fs-5" readonly>
                </span>
            </div>
        </div>

        <div class="col-6 mt-5">{{ form_row(form.noteInterne) }}</div>
        <div class="col-6 mt-5">{{ form_row(form.noteClient) }}</div>
        {{ form_rest(form) }}
    </div>

    <div class="d-flex justify-content-between mt-5 mb-5">
        <a href="{{ absolute_url(path('app_devis_index')) }}" class="btn btn-outline-secondary">
            <i class="bi bi-x-lg me-2"></i> Annuler
        </a>
        <div>
            <button type="submit" name="btnAction" value="brouillon" class="btn btn-outline-primary me-2" data-form-target="submitButton">
                <i class="bi bi-pencil-square me-2"></i>{{ devis.id ? 'Modifier en brouillon' : 'Sauvegarder en brouillon' }}
            </button>
            <button type="submit" name="btnAction" value="envoyer" class="btn btn-chart" data-form-target="submitButton">
                <i class="bi bi-send-fill me-2"></i>{{ devis.id ? 'Modifier et Envoyer' : 'Sauvegarder et Envoyer' }}
            </button>
        </div>
    </div>
</div>

{{ form_end(form) }}
