{% set _route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <!-- Bouton de bascule pour Desktop (visible uniquement en desktop) -->
            <button class="btn d-none d-lg-block" id="sidebar-toggle-desktop" aria-label="Basculer la sidebar">
                <i class="bi bi-list fs-3 me-3 text-dark"></i>
            </button>

            <!-- Bouton de bascule Offcanvas pour Mobile/Tablet (visible uniquement en mobile/tablet) -->
            <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sidebar-offcanvas" aria-controls="sidebar-offcanvas">
                <i class="bi bi-list fs-3 me-3 text-dark" role="button"></i>
            </button>
            <a class="navbar-brand fw-bold" href="{{ path('app_home') }}">
                <img src="{{ asset('img/logo-rvb.png') }}" alt="" class="img-fluid">
            </a>
        </div>
        <div class="d-flex align-items-center">
            <!-- Notifications Dropdown -->
            <div class="dropdown me-4" data-controller="dropdown">
                <a href="#" class="text-dark position-relative"  id="notifDropdown" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="bi bi-bell fs-5"></i>
                    <span
                        class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle notif-badge">3</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3"
                    data-dropdown-target="menu">
                    <li>
                        <h6 class="dropdown-header">Notifications</h6>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="bi bi-music-note-beamed me-2"></i>Nouvelle sortie publiée</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="bi bi-graph-up-arrow me-2"></i>Statistiques mises à jour</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="bi bi-person-plus me-2"></i>Nouvel utilisateur</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-center text-primary" href="#">Voir toutes</a></li>
                </ul>
            </div>
            <!-- User Profile Dropdown -->
            <div class="dropdown" data-controller="dropdown">
                <a href="#" class="text-dark"  id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle fs-5"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow border-0 rounded-3"
                    aria-labelledby="userDropdown">
                    <li>
                        <h6 class="dropdown-header">Compte</h6>
                    </li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="bi bi-gear-fill me-2"></i>Paramètres</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="#"><i
                                class="bi bi-person-circle me-2"></i>Mon profil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item text-danger d-flex align-items-center" href="{{ absolute_url(path('app_logout')) }}"><i
                                class="bi bi-box-arrow-right me-2"></i>Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Contenu du Sidebar pour Desktop -->
<div id="sidebar-desktop" class="sidebar d-none d-lg-flex flex-column h-100 p-3 bg-white" data-type="desktop">

    <ul class="nav flex-column mb-auto mt-5">
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1  {% if _route == 'app_home' %}active{% endif %}" href="{{ path('app_home') }}">
                <i class="bi bi-speedometer2 me-3"></i><span>Tableau de bord</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                    class="bi bi-receipt-cutoff me-3"></i><span>Facture</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="devis.html"><i
                    class="bi bi-file-earmark-text me-3"></i><span>Dévis</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                    class="bi bi-cash me-3"></i><span>Titre de recettes</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1 {% if _route == 'app_client_index' %}active{% endif %}" href="{{ path('app_client_index') }}"><i
                    class="bi bi-person-badge-fill me-3"></i><span>Clients</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                    class="bi bi-wallet2 me-3"></i><span>Recouvrement</span></a>
        </li>
        <li class="nav-item border-top mt-5">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                    class="bi bi-gear-fill me-3"></i><span>Paramètres</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1 {% if _route == 'app_employe_index' %}active{% endif %}" href="{{ path('app_employe_index') }}"><i
                    class="bi bi-people-fill me-3"></i><span>Employés</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1 {% if _route == 'app_admin_user_index' %}active{% endif %}" href="{{ path('app_admin_user_index') }}"><i
                    class="bi bi-lock-fill me-3"></i><span>Sécurités</span></a>
        </li>
    </ul>
    <div class="border-top pt-2 text-center text-muted">
        <small> &COPY; 2025 IMPRIVO</small>
    </div>
</div>

<!-- Sidebar Offcanvas pour mobile et tablette -->
<div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="sidebar-offcanvas" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column h-100 p-3">

            <ul class="nav flex-column mb-auto mt-5">
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1  {% if _route == 'app_home' %}active{% endif %}" href="{{ absolute_url(path('app_home')) }}">
                        <i class="bi bi-speedometer2 me-3"></i><span>Tableau de bord</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-receipt-cutoff me-3"></i><span>Facture</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="devis.html"><i
                            class="bi bi-file-earmark-text me-3"></i><span>Dévis</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-cash me-3"></i><span>Titre de recettes</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-person-badge-fill me-3"></i><span>Clients</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-wallet2 me-3"></i><span>Recouvrement</span></a>
                </li>
                <li class="nav-item border-top mt-5">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-gear-fill me-3"></i><span>Paramètres</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted d-flex align-items-center rounded-3 mb-1" href="#"><i
                            class="bi bi-lock-fill me-3"></i><span>Sécurités</span></a>
                </li>
            </ul>
            <div class="border-top pt-2 text-center text-muted">
                <small> &COPY; 2025 IMPRIVO</small>
            </div>
        </div>
    </div>
</div>
